<footer>
  <div class="top-footer-container">
    <div class="top-footer">
      <nav>
        <h2>Quick Links</h2>
        <ul class="ullist">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/career">Career</a></li>
          <li><a routerLink="/gallery">Gallery</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
          
        </ul>
      </nav>
    </div>
    <div class="top-footer">

      <h2>Connect with us</h2>
      <div class="social-icons">
        <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
        <a href="https://www.google.com"><i class="fa fa-google"></i></a>
        <a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
    <div class="top-footer-child">
      <div class="child-info">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15544.182224701402!2d80.1989276!3d13.0962994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52656b3c7706d1%3A0x6ebeaf9de34029e5!2sAjantha%20Earthmovers%20pvt%20ltd!5e0!3m2!1sen!2sin!4v1690357113555!5m2!1sen!2sin"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>

      </div>
    </div>
  </div>


  <section class="bottom-footer-container">
    <div class="copyright">
      Copyrights @ 2023 Ajantha Earthmovers Pvt Ltd

    </div>

  </section>
</footer>