<app-contact-header></app-contact-header>
<section>

<div class="section-container">
    <div class="contactInfoContainer">
        <div class="contactInfo">
            <p class="header">Ajantha Earthmovers Private Limited </p>
            <p class="details">
                <span>264/6, Anbu Colony, Anna Nagar West</span>
                <span>Chennai - 600040</span>
                <span>Email: www.ajanthaearthmovers.com</span>
                <span>Mobile: +91 9444043661</span>
                <span>Phone: +91 04426180349</span>
            </p>            

        </div>
    </div>

</div>
</section>

<app-map></app-map>
