section {
  box-sizing: border-box;
  padding-top: 120px;
  background-color: #f2f2f2;
}

section .section-container {
  padding: 90px;
  display: flex;
}

.contactInfo {

  height: 350px;
  color: black;

}

.details {
padding:5px; 

} 

.details span {
  display: block;

}